<!doctype html>
<html ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>HeistCast</title>
	<link rel="stylesheet" href="style.css">

	<meta name="viewport" content="width=device-width">

	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js'></script>
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js'></script>
</head>
<body ng-controller="MyController">
	
	<img src="heist-logo.svg" alt="HeistCast" class="logo">

	<table>
		<tr ng-repeat="link in links">
			<td>{{link.title}}</td>
			<td><a href="{{link.body}}">{{link.body}}</a></td>
		</tr>
	</table>

	<fieldset>	
		<input type="text" ng-model="name" ng-keydown="addLink($event)" placeholder="Prototype Name">
	    <input type="text" ng-model="link" ng-keydown="addLink($event)" placeholder="Invision Link">
	</fieldset>

	<script>
		var app = angular.module("myapp", ["firebase"]);

		function MyController($scope, $firebase) {
			var ref = new Firebase("https://heistcast.firebaseio.com/");
			$scope.links = $firebase(ref);
			$scope.addLink = function(e) {
				if (e.keyCode !=13) return;
				$scope.links.$add({title: $scope.name, body: $scope.link});
				$scope.link = "";
				$scope.name = "";
			};
		}
	</script>
</body>
</html>