<!doctype html>
<html ng-app="HeistCast">
<head>
	<meta charset="UTF-8">
	<title>HeistCast</title>
	<link rel="stylesheet" href="style.css">

	<meta name="viewport" content="width=device-width">

	<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js'></script>
	<script src='https://cdn.firebase.com/v0/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js'></script>
	
	<!-- webfont -->
	<script type="text/javascript">
	  (function(d) {
	    var config = {
	      kitId: 'rwf5sai',
	      scriptTimeout: 3000
	    },
	    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
	  })(document);
	</script>

</head>
<body ng-controller="ListController">
	
	<!-- <img src="heist-logo.svg" alt="HeistCast" class="logo"> -->
	<img src="icon_512.png" alt="HeistCast" class="logo">
	<h1><strong>Heist</strong>Cast</h1>
	
	<div ng-show="!list">
	    <h1>Loading...</h1>
	</div>
	<table>
		<tr ng-repeat="(id, entry) in list">
			<td>{{entry.title}}</td>
			<td><a href="{{entry.body}}">{{entry.body}}</a><button ng-click="removeEntry(id)">✕</button></td>
		</tr>
	</table>

	<fieldset>
<p>Add: </p>	
		<input type="text" ng-model="name" ng-keydown="addLink($event)" placeholder="Prototype Name" autofocus>
	    <input type="text" ng-model="link" ng-keydown="addLink($event)" placeholder="Invision Link">
	</fieldset>

	<script>
		var app = angular.module("HeistCast", ["firebase"]);

		function ListController($scope, $firebase) {
			var cloud = new Firebase("https://heistcast.firebaseio.com/");
			var list = $scope.list = $firebase(cloud);

			$scope.addLink = function(e) {
				if (e.keyCode === 13) {
					list.$add({title: $scope.name, body: $scope.link});
					$scope.link = "";
					$scope.name = "";
				}
			};
			
			$scope.removeEntry = function(id) {
			    list.$remove(id);
			}

		}
	</script>
</body>
</html>