html {
	background: #e0ddd7;
}

body {
	padding: 1em;
	max-width: 40em;
	margin: 0 auto;
	background: whitesmoke;
	font-family: sans-serif;
	font-size: 14px;
	border: 1px solid #bfbbb4;
}

fieldset {
	background: #524d47;
	border: 0;
	padding: 1em;
	margin: -1em;
}
	input {
		font-size: 14px;
		background: whitesmoke;
		border: 0;
		padding: 4px;
	}

	::-webkit-input-placeholder {
		color: black;
	}

table {
	width: 100%;
	margin-bottom: 3em;
	border-collapse: collapse;
}
tr {
	border: 1px solid #bfbbb4;
	padding: 1em;
	background: white;	
}
td {
	border: 0;
	background: 0;
	padding: 1em;
	position: relative;
}

td > button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;

	-webkit-appearance: none;
	border: none;
	font-size: 1.25em;
	background: none;
	color: #524d47;
	cursor: pointer;

	transition: color 0.134s linear;
}

td > button:hover {
	color: #d54d28;
}

.logo {
	width: 150px;
	margin: 1em auto 3em;
	display: block;
}