html {
	background: white;
}

body {
	padding: 1em;
	max-width: 40em;
	margin: 0 auto;
	background: #eee;
	font-family: sans-serif;
	font-size: 14px;
}

fieldset {
	background: grey;
	border: 0;
	padding: 1em;
}
	input {
		font-size: 14px;
	}

	::-webkit-input-placeholder {
		color: black;
	}

table {
	width: 100%;
	margin-bottom: 3em;
}
td {
	border: 1px solid lightgrey;
	padding: 1em;
}